<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xd.pre.modules.myeletric.mapper.MyUserWMeterMapper">
    <resultMap id="getUserWMeterList" type="com.xd.pre.modules.myeletric.domain.MyUserWMeter">
        <result column="meter_id" property="meter_id" jdbcType="INTEGER"></result>
        <result column="user_id" property="user_id" jdbcType="INTEGER"></result>
        <result column="pay_id" property="pay_id" jdbcType="INTEGER"></result>
    </resultMap>
    <select id="getWUserMeterByMeterid" resultMap="getUserWMeterList">
        select * from my_map_user_wmeter where meter_id=#{meterid}
    </select>

</mapper>
